<form action="/add" method="post">
    <p>Título: </p>
    <input type="text" name="titulo" id="">
    <p>Conteudo: </p>
    <input type="textarea" name="conteudo">
    <button type="submit">enviar</button>

</form>